<nav class="navbar navbar-light" style="background-color: lightblue;">
<div class="container-fluid">
   <div class="navbar-header">
   <a  class="navbar-brand" href="/"><font color="black">MyCity</font></a>
 </div>
     <ul class="nav navbar-nav">
       <li><a href="/hyderabad"><font color="black">Hyderabad</font></a></li>
       <li><a href="/delhi"><font color="black">Delhi</font></a></li>
       <li><a href="/mumbai"><font color="black">Mumbai</font></a></li>
       <li><a href="/bangalore"><font color="black">Bangalore</font></a></li>
       <li><a href="/kolkata"><font color="black">Kolkata</font></a></li>
     </ul>
   </div>
 </div>
 </nav>
