<html>
<head>
{{>Head}}
  <head>
    <body>
      {{>Navigation}}
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p  class="headingfont" align="center">
              {{headline}}
            </p>
<style> .headingFont{
   font-family: "Comic Sans MS", cursive, sans-serif;
   font-size: 40px;
}
img{
  border-radius: 8px;
  } </style>
            <div class="container">
        <div class="row">
             <div class="col-md-12">
              <img src="/images/Home.jpg" class="img-responsive" alt="City-image" style="width:1150px;height:480px">
             </div>
      </div>
    </div>

          {{>Footer}}
    </body>
</html>
